/**********************************/
/********** Top Bar CSS ***********/
/**********************************/

.top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: #060c28;
}

.top-bar .logo {
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: #E81C2E;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
}

.top-bar .logo h1 span {
    color: #202C45;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #749232;
    border-radius: 40px;
}

.top-bar .top-bar-icon i {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}